/* Palette des couleurs :  https://coolors.co/e7e9eb-fdfffc-2ec4b6-e71d36-011627 */

/* Importation des polices Web Google */
@import url('https://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400,400i,700,700i,800');

/*****************************************
 REGLES GENERALES
******************************************/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem; /* 100% */
    line-height: 1.4;
    color: #011627;
    background-color: #fdfffc;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #e71d36;
    text-decoration: none;
}

h1,
h2 {
    font-family: 'Changa One', cursive;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    margin: 0 0 1em;
}

h2 {
    font-size: 1.5rem;
    margin: 0 0 .75em;
}

p {
    line-height: 1.5;
}

/*****************************************
 ENTETE DU SITE
******************************************/
header {
    background-color: #011627;
    padding: 5px;
    margin: 0 0 30px;
    text-align: center;
}

header .nom {
    font-family: 'Changa One', cursive;
    font-weight: 400;
    font-size: 1.75rem;
    color: #2EC4B6;
    margin: 15px 0;
}

header .metier {
    margin-top: -15px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 10px 10px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    padding: 15px 10px;
    color: #fdfffc;
    font-weight: bold;
}

header nav ul li a.actif,
header nav ul li a:hover {
    color: #2EC4B6;
}

header nav [href="index.html"] {
    display: none;
}

/*****************************************
 CONTENU PRINCIPAL DU SITE
******************************************/
main {
    padding: 0 5%;
}


/*****************************************
 PIED DE PAGE DU SITE
******************************************/
footer {
    text-align: center;
    padding: 50px 0 20px;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer nav ul li {
    display: inline-block ;
}

footer nav ul li a img {
    max-width: 50px;
    margin: 0 15px;
    filter: grayscale(1);
    transition: filter 500ms linear;
}

footer nav ul li a:hover img {
    filter: grayscale(0);
}
/*****************************************
 PAGE INFOS
******************************************/
.page-infos .photo-laure {
    max-width: 150px;
    border-radius: 50%;

    display: block;
    margin: 0 auto;
}

.page-infos h1 {
    text-align: center;
}
/*****************************************
 PAGE INDEX
******************************************/
.page-index .realisations {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* permet le retour à la ligne */
}

.page-index .realisations li {
    padding: 0 2.5% 20px;
    flex-basis: 50%;
    flex-grow: 2;
}

.page-index .realisations a {
    color: #011627;
}

.page-index .realisations figure {
    margin: 0;
    background-color: #e7e9eb;
    transition: all 900ms linear;
    transform-style: preserve-3d;
}

.page-index .realisations figure:hover {
    filter: grayscale(1);
    transform: rotateY(180deg);
}

.page-index .realisations figcaption {
    padding: 10px;
    font-size: 1rem;
   /*min-height: calc(2em * 1.5 + 20px);*/
}

/*****************************************
 PAGE CONTACT
******************************************/
.page-contact .contacts {
    list-style-type: none;
    padding: 0;
}

.page-contact .contacts li {
    margin-bottom: .5em;
}

.page-contact .contacts li a {
    padding-left: 30px;
    background-image: url("../images/phone.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 6px 1px;
}
/* https://www.w3schools.com/css/css_attribute_selectors.asp */
.page-contact .contacts li [href^="mailto:"] {
    background-image: url("../images/mail.png");
}












