/* Pour les écrans >= 480px */
@media only screen and (min-width: 480px) {
    /* Afficher les réalisations sur 3 colonnes */
    .page-index .realisations li {
        flex-basis: calc(100%/3);
        flex-grow: 3;
    }
} /* min-width: 480px */

/* Pour les écrans >= 660px */
@media only screen and (min-width: 660px) {
    /* Page contact */
    .contact-cols {
        display: flex;
        gap: 20px;
    }
    .contact-cols .infos {
        min-width: 200px;
    }
} /* min-width: 660px */

/* Pour les écrans >= 910px */
@media only screen and (min-width: 910px) {

} /* min-width: 910px */